.band {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  z-index: 3;
  padding-top: 10px;
}
.swiper {
  width: 100vw;
}
.swiperSlide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  max-width: 50vw;
  width: fit-content;
}

@media (max-width: 1000px) {
  .swiperSlide {
    padding-left: 0px;
  }
}

@media (max-width: 650px) {
  .swiperSlide {
    max-width: 100vw;
    padding-left: 0px;
  }
}
