.band {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  z-index: 3;
}

.imageContainer {
  margin: 0.5em;
}

@media (max-width: 900px) {
  /*   .imageContainer {
    width: 90vw;
  } */
}
