.hero {
  width: 100vw;
  background: linear-gradient(
    180deg,
    hsla(347, 22%, 17%, 1) 0%,
    hsla(346, 80%, 31%, 1) 46%,
    hsla(345, 3%, 27%, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.imgContainer {
  height: 100vh;
  width: 50vw;
  padding-top: 20vh;
}
.dummy {
  height: 100vw;
  width: 100vw;
}
.videoContainer video {
  position: fixed;
  z-index: -2;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 900px) {
  .imgContainer {
    width: 100vw;
  }
  .videoContainer video {
    height: 100vh;
    width: 150vw;
  }
  .dummy {
    height: 60vh;
  }
}

@media (max-width: 500px) {
  .imgContainer {
    width: 100vw;
  }
  .videoContainer video {
    height: 100vh;
    width: 250vw;
  }
  .dummy {
    height: 60vh;
  }
}
